<%- include("header") -%>
<h2>This is the About page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, esse delectus cum, consectetur debitis id itaque at recusandae sunt architecto quidem molestiae ipsa odit doloremque, molestias voluptates accusantium vitae. Dicta!</p>
<%- include("footer") -%>